<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_pack_tag 'application', defer: true %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="container mx-auto px-5">
      <%= yield %>
    </main>
  </body>
</html>